html
	head
		title tuxharness JSON structure
	body
		h2 Routes
		ul
			each val in harnesses
				li= '(route) ' + val.route
				li= '(data)'
				li= '(view)'
					ul
						li= '(path) ' + val.view.path